@inherits LayoutComponentBase


    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main">
        <article class="content">
            @Body
        </article>
    </main>

@code {

}